.main{
    margin: 0;
    background-color: powderblue;
}
.appaji{
    margin: 0;
    text-align: center;
}
hr {
    border-color: grey;
    border-style:none;
    border-top-style:dotted;
    border-width:5px;
    width:10%;
    margin-top: 0px;
    margin-bottom: 0px;
}
h3{
    color: #C147E9;
}
.profile-image{
    border-radius: 100%;
    
}
#heading{
    color:peru;
}
#intro{
    color:peru;
    font-family: 'Sacramento', cursive;
    font-size:50px;
}
#program{
    font-family: 'Sacramento', cursive;
    color:darkblue;
    font-size:35px;
}
.firstContainer{
    background-color: powderblue;
    padding: 50px 50px 10px 50px;
    margin-bottom: 20px;
    
}
.topCloud{
    position:relative;
    left:30%;
}
@media (max-width:665px){
    .mountain{
        position:relative;
        width:80%;
    }
    .cloud{
        width:20%;
    }
}

.middleCloud{
    position:absolute;
    left:10%;
}
.bottomCloud{
    position: absolute;

}

.vishwa{
    margin-top: 10px;

}
.cpp{
    width:10%;
    height: 10%;
    margin-right: 20px;
}
.java{
    width:10%;
    height: 10%;
    margin-right: 20px;
}
.c{
    width:10%;
    height: 10%;
    margin-right: 20px;
}
.kali{
    width:10%;
    height: 10%;
}
.python{
    width:10%;
    height: 10%;
    margin-right: 20px;
}
.cvIcon{
    width:10%;
    height: 10%;
}
.resume{
    margin-top: 20px;
}
.lastContainer{
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: aquamarine;
}
.footer-link{
    margin-left: 20px;
}
.copywrite{
    color:rgb(152, 152, 159);
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
  
.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}